In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv(r'C:\Users\Elijah\Downloads\iris.csv', index_col=0)

In [3]:
for i in range(4):
    data.iloc[:, i] = pd.cut(data.iloc[:, i], 3, labels=["low", "medium", "high"])

In [4]:
data = pd.get_dummies(data, drop_first=True)

In [5]:
data

,species,sepal length_medium,sepal length_high,sepal width_medium,sepal width_high,petal length_medium,petal length_high,petal width_medium,petal width_high
0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
145,2,1,0,1,0,0,1,0,1
146,2,1,0,0,0,0,1,0,1
147,2,1,0,1,0,0,1,0,1
148,2,1,0,1,0,0,1,0,1
149,2,1,0,1,0,0,1,0,1